
body {

font-size:10pt;
font-family:verdana;
}



table {
border: 1px solid #d5d5d5;
padding: 0px;

}



#container {
	position:relative;

}




.form-container {

display: inline-block;
}


.form-container input.search-submit-button {
    background-color: #FEFEFE;
    border: 2px solid #ddd;
    -webkit-appearance:none;
    border-radius: 0px 3px 3px 0px;
    color: #555 !important;
   	float:right;
    font-size: 12px;
    padding: 0px 14px;
    text-align: center;
    width: 80px;
	height: 30px;
    box-sizing: border-box;
    margin-left: 0px;
    cursor: pointer;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;

    }
.form-container input.search-submit-button:hover {
    background-color: #03C9A9;
    border: 1px solid #03C9A9;
	height: 30px;
    -webkit-appearance:none;
    color: #fff !important;
    border-radius: 0px 3px 3px 0px;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    }
.form-container input.search-textfield {
	width: 260px;
	height: 30px;
	padding-left: 8px;
	background-color: #FEFEFE;
    border: 2px solid #ddd;
    -webkit-appearance:none;
    border-radius: 0px 3px 3px 0px;
    color: #555 !important;
    font-size: 12px;
	vertical-align: middle;
    line-height: 35px;
    margin-left: 0px;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}
	
.form-container input.search-textfield:focus {
    background-color: #fff;
    border: 1px solid #03C9A9;
	height: 30px;
    }
	

#container {
	
	border:1px solid #03C9A9;
	height: 25px;
}
#nav {
    display:inline;
    text-align:left;
    position:relative;
    list-style-type:none;
}
#nav > li {
    float:left;
    padding:0;
	margin:0;
    position:relative;
}
#nav > li > a {
    border:1px solid transparent;
    color:#4F4F4F;
    display:block;
    padding:3px 20px;
    position:relative;
    text-decoration:none;
}


#nav li div {
    position:relative;

}
#nav li div div {
    background-color:#FFFFFF;
    border:1px solid #d0e6f5;
    padding:12px 0;
    display:none;
    margin: 0px 0px;
    position:absolute;
    z-index:100;
    width:100%;
}

#nav li div ul {
    position:relative;
    width:100%;
    float:left;
    list-style-type:none;
}
#nav li div ul li {
    margin:0;
    padding:0;
	 width:100%;
}


#nav li ul ul {
    padding:0 0 8px;
}
#nav li ul ul li {
    margin:0;
    padding:0;
}
#nav li ul ul li a {
    color:#0060A6;
    display:block;
    margin-bottom:1px;
    padding:3px 5px;
    text-decoration:none;
    font-size:0.9em;
}
#nav li ul ul li a:hover{
    background-color:#0060a6;
    color:#fff;
}




#layer1 {
	position:absolute;
	
	z-index:1;
}


#layer1 a {
  
    text-decoration: none;
}

#layer1 a:hover {
    text-decoration: underline;
}

#layer1 {
    overflow: hidden;
    width: 160px;
    height: 20px;
    margin: 0;
}


#layer1 ul {
    position: relative;
    margin: 0;
}

#layer1 ol {
    position: absolute;
    list-style-type: none;
}

#layer1 li {
    height: 20px;
    line-height: 20px;
}


#layer2 {
	position:absolute;
	width: 260px;
	height: 300px;
	z-index: 1;	
	border:1px solid blue;
	
}


#layer2 ul {
	 list-style-type:none;
	 padding: 10px;
	  width:100%;
	
}

#layer2 ul > li{
	 list-style-type:none;
	 padding: 5px;
	  width:100%;
	 
}

td {

font-size:10pt;
font-family:verdana;
}



input,DIV,form,TEXTAREA,center,pre,blockquote {font-size:10pt;font-family:굴림;color:888888}

select,option {font-size:10pt;font-family:tahoma;color:13485D;background-color:B4D2DE}

TD {line-height:140%}

body{
	scrollbar-face-color:#CCCCCC;
	scrollbar-highlight-color: #DDDDDD;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #DDDDDD;
}

A:link    {color:888888;text-decoration:none;}
A:visited {color:888888;text-decoration:none;}
A:active  {color:888888;text-decoration:none;}
A:hover  {color:555555;text-decoration:underline}

.textarea {border:solid 1;border-color:347088;font-size:10pt;color:042330;background-color:white;}
.input {border:solid 1;border-color:739BAB;font-size:10pt;color:042330;background-color:white;height:19px}
.submit {border:solid 1;border-color:1F556A;font-size:10pt;color:white;background-color:50889F;height:19px}
.button {border:solid 1;border-color:1F556A;font-size:10pt;color:white;background-color:50889F;height:19px}

.thm7pt {font-family:tahoma;font-size:7pt}

.ment {border:1 solid; border-color:e7e7e7; background-color:fafafa; font-size:10pt; table-layout:fixed}
.ment_text {color:666666;font-size:10pt;line-height:140%;padding:10px;}

.line1 {background-color:#B4D2DE; padding:0}
.line2 {background-color:#D7EDF2; padding:0}

.title {background-image: url(list_back.gif); background-repeat-x; height:33px;}
.list0 {background-color:#EEF3F6; height:28px; font-size:10pt;}
.list1 {background-color:#F7FAFB; height:28px; font-size:10pt;}

.title_han {color:FFFFFF;font-weight:bold;font-size:10pt}
.list_han {color:13485D;font-size:10pt;text-decoration:none;text-decoration:none}

.title_eng {font-family:tahoma;color:FFFFFF;font-weight:bold;font-size:10pt;text-decoration:none}
.list_eng {font-family:tahoma;color:13485D;font-size:10pt;text-decoration:none}

#b2 a{
	font-size:10pt;
}